<a routerLink="add">Add User</a>
<table class="w-full">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>

  <tr *ngFor="let user of pageSlice">
    <td>{{user.name}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.email}}</td>
    <td><a href="" routerLink="edit/{{user.id}}">Edit</a>
    
      <button (click)="deleteUser(user.id)">delete</button>
    </td>
  </tr>
</table>

<!-- <div *ngIf="isShow" >
  <app-modal></app-modal>
</div> -->
<mat-paginator [length]="userData.length" [pageSize]="10" [pageSizeOptions]="[10,20,30,40,50]" (page)="$OnPageChange($event)" >

</mat-paginator>

<router-outlet></router-outlet>